@page "/edit-societe-modal"

@attribute [Authorize]

<PageTitle>EditSocieteModal</PageTitle>

  
   <RadzenRow Gap="1rem" AlignItems="Radzen.AlignItems.Center" Style="font-weight: bold;">
    <RadzenColumn Size="12" SizeMD="6">
        <RadzenStack>
            <RadzenFieldset Style="font-weight: bold;width:100%;" Text="Informations de base" >
                
                   
                        <div style="margin-bottom: 1rem;">
                            <RadzenLabel Text="Intitule" Component="Intitule" />
                            <RadzenTextBox @bind-Value="editedSociete.intitule" Style="width: 100%; font-size: 16px;" />
                        </div>
                  
                   
                        <div style="margin-bottom: 1rem;">
                            <RadzenLabel Text="Adresse" Component="Adresse" />
                            <RadzenTextBox @bind-Value="editedSociete.adresse" Style="width: 100%; font-size: 16px;" />
                        </div>
                   
                 
                        <div style="margin-bottom: 1rem;">
                            <RadzenLabel Text="Telephone" Component="Telephone" />
                            <RadzenTextBox @bind-Value="editedSociete.telephone" Style="width: 100%; font-size: 16px;" />
                        </div>
                    
                   
                        <div style="margin-bottom: 1rem;">
                            <RadzenLabel Text="Fax" Component="Fax" />
                            <RadzenTextBox @bind-Value="editedSociete.fax" Style="width: 100%; font-size: 16px;" />
                        </div>
                   
                  
                        <div style="margin-bottom: 1rem;">
                            <RadzenLabel Text="Email" Component="Email" />
                            <RadzenTextBox @bind-Value="editedSociete.email" Style="width: 100%; font-size: 16px;" />
                        </div>

                        
                  
                    
                        <div style="margin-bottom: 1rem;">
                  
                            <RadzenLabel Text="Site Web" Component="SiteWeb" />
                            <RadzenTextBox @bind-Value="editedSociete.site_web" Style="width: 100%; font-size: 16px;" />
                        </div>
                   
                 
            </RadzenFieldset>
        </RadzenStack>
    </RadzenColumn>
    <RadzenColumn Size="12" SizeMD="6">
        <RadzenStack>
            <RadzenFieldset Style="font-weight: bold;" Text="Informations de plus">
         
                    
                 
                        <div style="margin-bottom: 1rem;">
                            <RadzenLabel Text="RC" Component="RC" />
                            <RadzenTextBox @bind-Value="editedSociete.rc" Style="width: 100%; font-size: 16px;" />
                        </div>
                   
                 
                        <div style="margin-bottom: 1rem;">
                            <RadzenLabel Text="IDF" Component="IDF" />
                            <RadzenTextBox @bind-Value="editedSociete.idf" Style="width: 100%; font-size: 16px;" />
                        </div>
                   
              
                        <div style="margin-bottom: 1rem;">
                            <RadzenLabel Text="CNSS" Component="CNSS" />
                            <RadzenTextBox @bind-Value="editedSociete.cnss" Style="width: 100%; font-size: 16px;" />
                        </div>
                   
                   
                   
                        <div style="margin-bottom: 1rem;">
                            <RadzenLabel Text="Patente" Component="Patente" />
                            <RadzenTextBox @bind-Value="editedSociete.patente" Style="width: 100%; font-size: 16px;" />
                        </div>
         
                        <div style="margin-bottom: 1rem;">
                            <RadzenLabel Text="ICE" Component="ICE" />
                            <RadzenTextBox @bind-Value="editedSociete.ice" Style="width: 100%; font-size: 16px;" />
                        </div>
                   
             
            </RadzenFieldset>
        </RadzenStack>
       
                    <div style="text-align: right; padding: 30px 16px 16px 16px;">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Modifier" Click="@SubmitForm" />
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Annuler" Click="@(() => DialogService.Close())" Style="margin-left: 8px;" />
            </div>
    </RadzenColumn>
</RadzenRow>








